body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

#sceneMenu {
  position: fixed;
  left: 20px;
  top: 20px;
  background: rgba(0,0,0,0.7);
  padding: 10px;
  border-radius: 10px;
  z-index: 10;
}

#sceneMenu button {
  display: block;
  margin-bottom: 5px;
  width: 160px;
  cursor: pointer;
}

#layersPanel {
  position: fixed;
  right: 20px;
  top: 20px;
  background: rgba(0,0,0,0.7);
  padding: 10px;
  border-radius: 10px;
  color: white;
  z-index: 10;
}

#layersPanel label {
  display: block;
  cursor: pointer;
}
